<!DOCTYPE html> {% load staticfiles %} {% include "tradingsystem/template.html" %}
<html>

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!--link rel="stylesheet" href="{% static 'estilo.css' %}"-->
	<title>BookTrading</title>
</head>

<body>


	<div class="w3-main" style="margin-left:250px">
		<div class="w3-row w3-padding-64">
			<div class="w3-twothird w3-container">
				<h1 class="w3-text-teal">Cadastrar Livro</h1>
				<p>
					{% block content %}
					<form id="add_book_form" method="post">
						{% csrf_token %} Título:
						<br> <input type="text" name="title" value="" size="100" />
						<br /> Autor:
						<br> <input type="text" name="author" value="" size="100" />
						<br /> Editora:
						<br> <input type="text" name="publisher" value="" size="100" />
						<br /> Ano: <br><input type="text" name="year" value="" size="100" />
						<br /> ISBN:
						<br> <input type="text" name="isbn" value="" size="100" />
						<br />
						<input type="submit" value="Cadastrar" />
					</form>
                    {% endblock %}
				</p>
			</div>
		</div>
	</div>
	</div>



</body>

</html>