{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'estilo.css' %}">
    </head>

    <body>
        <div style="margin-left: 25px;">
            <h1><a href="../index">BookTrading</a></h1>
        </div>

        <div> 
            <div>
                <h3>Cadastrar Livro</h3>
            </div>

            {% block content %}
                <form method="POST" class="AddBookForm" align="left" style="margin-left: 25px;">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Guardar</button>
                </form>
            {% endblock %}
        </div>
    </body>
</html>