<!DOCTYPE html> {% load staticfiles %} {% include "tradingsystem/template.html" %}
<html>

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!--link rel="stylesheet" href="{% static 'estilo.css' %}"-->
	<title>BookTrading</title>
</head>

<body>


	<div class="w3-main" style="margin-left:250px">
		<div class="w3-row w3-padding-64">
			<div class="w3-twothird w3-container">
				<h1 class="w3-text-teal">Cadastrar Livro</h1>
				<p>
					{% block content %}
					<form id="add_book_form" method="post">
						{% csrf_token %} 
						<label for="titulo">Título:</label>
						<br><input id="titulo" type="text" name="title" value="" size="80%" /><br>
						<label for="autor"> Autor: </label>
						<br><input id="autor" type="text" name="author" value="" size="80%" /><br>
						<label for="editora"> Editora: </label>
						<br><input id="editora" type="text" name="publisher" value="" size="80%" /><br>
						<label for="ano"> Ano: </label>
						<br><input id="ano" type="text" name="year" value="" size="80%" /><br>
						<label for="isbn"> ISBN: </label>
						<br><input id="isbn" type="text" name="isbn" value="" size="80%" /><br>
						<label for="conservacao"> Estado de Conservação: </label>
						<br> 
							<select id="conservacao" name="conservation">
								<option value="Ruim">Ruim</option>
								<option value="Regular">Regular</option>
								<option value="Bom">Bom</option>
							</select>
						<br><br>
						<input type="submit" value="Cadastrar" />
					</form>
                    {% endblock %}

					{% if success %}
					<script> alert("Livro cadastrado!") </script>
					{% endif %}
				</p>
			</div>
		</div>
	</div>
	</div>



</body>

</html>