{% load staticfiles %}
<html>
    <head>
        <style>
            .bookListing{
                overflow: auto;
                height: 500px;
            }
        </style>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'estilo.css' %}">
        <title>BookTrading</title>
    </head>

    <body>
        <div style="margin-left: 25px;">
            <h1><a href="../index">BookTrading</a></h1>
        </div>

        <div>
            <div>
                <h3>Livros Cadastrados no Sistema</h3>
            </div>

            {% if len == 0 %}
                <p>Nenhum livro encontrado.</p>
            {% else %}
                <!-- esse for aqui não dá scroll :( -->
                <div class="bookListing">
                {% for book in books %}
                    <div style="padding-left: 15px">
                        <h3>
                            <a href="../book_info/?id={{book.id}}">
                                {{book.title}}
                            </a>
                        </h3>
                        <p>author: {{book.author}}</p>
                        <p>publisher: {{book.publisher}}</p>
                        <p>year: {{book.year}}</p>
                        <p>owner: {{book.owner|linebreaksbr}}</p>
                        <!-- ADICIONAR BOTÃO PRA VISUALIZAR INFOS DO LIVRO
                            ADICIONAR BOTÃO PARA OFERECER PROPOSTA -->
                    </div>
                {% endfor %} 
            </div>
            {% endif %}
        </div>

        <div id="footer" style="position:fixed; bottom:0; left:50%; transform: translate(-50%,0)">
            {% if user.is_authenticated %}
                Logado como {{user.username}} | <a href='logout'>Logout</a>
            {% else %}
                <a href='login'>Login</a> | <a href='register'>Novo Usuário</a> 
            {% endif %}
        </div>
    </body>
</html>