{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'estilo.css' %}">
        <title>BookTrading</title>
    </head>

    <body>
        <div style="margin-left: 25px;">
            <h1><a href="index">BookTrading</a></h1>
        </div>

        <div>
            <div>
                <h4 align='Left'>Login</h4>
            </div>

            <div style="margin-left: 25px;">
                <form id="login_form" method="post" action="../login">
                    {% csrf_token %}
                    Username: <input type="text" name="username" value="" size="50" />
                    <br />
                    Password: <input type="password" name="password" value="" size="50" />
                    <br />
                <input type="submit" value="submit" />
                </form>
            </div>
        </div>
    </body>
</html>