{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'estilo.css' %}">
        <title>BookTrading</title>
    </head>
    <body>
        <div style="margin-left: 25px;">
            <h1><a href="index">BookTrading</a></h1>
        </div>

        <div>
            {% block content %}
            <div>
                <h4 align='Left'>Procurar Ofertas de Livros</h4>
            </div>
            <form method="POST" class="" style="margin-left: 25px;">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Pesquisar</button>
            </form>
            {% endblock %}
        </div>

        <div id="footer" style="position:fixed; bottom:0; left:50%; transform: translate(-50%,0)">
            {% if user.is_authenticated %}
                Logado como {{user.username}} | <a href='logout'>Logout</a>
            {% else %}
                <a href='login'>Login</a> | <a href='register'>Novo Usuário</a> 
            {% endif %}
        </div>
    </body>
</html>